body {
  font-family: Verdana;
  background-color: black;
  text-align: center
}
.headers {
  color: white;
  font-size: 42px;
  font-weight: bold;
}
#mainheader {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
h3 {
  color: gray;
  font-size: 21px;
}
#copyright {
  text-align: right;
}
p {
  color: Aquamarine;
  font-size: 16px;
  font-weight: normal;
}
.media {
  align: center;
}
